# ===================== PYTHON =====================
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django / Flask stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Virtual Envs
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
*.swp
*.swo

# Ruff / MyPy / Pyre
.ruff_cache/
.mypy_cache/
.pyre/
.pytype/
.dmypy.json
dmypy.json

# Mkdocs / Docs
/site
docs/_build/

# Abstra / Cursor / Marimo
.abstra/
.cursorignore
.cursorindexingignore
marimo/_static/
marimo/_lsp/
__marimo__/

# ===================== NODE / FRONTEND =====================
# Dependencias
node_modules/
*/node_modules/

# Entornos y variables
.env.local
*.env

# Base de datos SQLite
*.db
*.sqlite
*.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Angular / React / Vue / Nest
dist/
build/
tmp/
.angular/
.cache/

# Archivos temporales
*.tmp
*.temp

# ===================== OTROS =====================
# PyCharm
#.idea/

# PyPI config
.pypirc
